@font-face {
  font-display: swap;
  font-family: 'Iosevka Web';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/iosevka-light-webfont.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Iosevka Web';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/iosevka-regular-webfont.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Iosevka Web';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/fonts/iosevka-italic-webfont.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Iosevka Web';
  font-weight: 400;
  font-style: oblique;
  src: url('/assets/fonts/iosevka-oblique-webfont.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Iosevka Web';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/iosevka-semibold-webfont.woff2') format('woff2');
}
